[Unit]
Description=SSDB server daemon
After=syslog.target network.target


[Service]
Type=forking
PIDFile=/usr/local/ssdb/var/ssdb.pid
ExecStart=/usr/local/ssdb/ssdb-server /usr/local/ssdb/ssdb.conf -s restart -d
ExecStop=/usr/local/ssdb/ssdb-server /usr/local/ssdb/ssdb.conf -s stop -d
User=ssdb
Group=ssdb


[Install]
WantedBy=multi-user.target
